.navbar-brand {
    font-weight: bold;
    color: black;
}
.btn {
    color: black;
    font-weight: bolder;
    width: 200px;
    margin-left: 75px;
}
.my-container h1 {
    margin-top: 75px;
    text-align: center;
    z-index: 2;
    position: relative;
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 75px;
    text-shadow: 2px 2px red;
} 
.my-container img {
    position: absolute;
    margin-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    opacity: 0.5;
}
h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bolder;
    color: red;
    text-shadow: 2px red;
    text-decoration: underline;
    text-decoration-color: black;
}

